<infoPagina></infoPagina>
<div class="contenedorPrincipal">
  <h4 class="titulo animate__animated animate__fadeInUp animate__slow	1s">MISIÓN</h4>

  <div class="contenedor animate__animated animate__fadeInUp animate__slow	1s">

    <p class="ParrafoInfo">Cumplir como empresa de Accesorios y bisutería con cada una de las exigencias de
      <span class="resaltado">moda y estilo</span>
      de nuestros clientes, brindando para ellos accesorios personalizados con los que sentirse cómodos y
      identificados.
      Todo de la mano, con brindar un servicio de calidad que genere una grata experiencia.
    </p>
  </div>
</div>
