<body>
  <section>
    <div class="presentacion">
      <p class="titulo animate__animated animate__fadeInUp animate__slow	1s ">¡DEFINE TU</p>
      <p class="titulo animate__animated animate__fadeInUp animate__slow	1s animate__delay-1s">ESTILO!</p>
    </div>

    <div class="container">
      <H2 class="Subtitulo"><span>Estilos</span> elegantes <span>y</span> minimalistas</H2>

      <div id="Portada" class="carousel slide" data-bs-ride="false">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#Portada" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1">
          </button>

          <button type="button" data-bs-target="#Portada" data-bs-slide-to="1" aria-label="Slide 2">
          </button>

          <button type="button" data-bs-target="#Portada" data-bs-slide-to="2" aria-label="Slide 3">
          </button>

          <button type="button" data-bs-target="#Portada" data-bs-slide-to="3" aria-label="Slide 4">
          </button>
        </div>

        <div class="carousel-inner rounded-5 shadow">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center">
              <a routerLink="/accesorios">
                <img src="./assets/Imagenes/helenFoto.jpg" class="imagenes1" alt="accesorios">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <img src="./assets/Imagenes/helenFoto2.jpg" class="imagenes1" alt="accesorios">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <a routerLink="/accesorios">
                <img src="./assets/Imagenes/helenFoto3.jpg" class="imagenes1" alt="accesorios">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <a routerLink="/accesorios">
                <img src="./assets/Imagenes/helenFoto4.jpg" class="imagenes1" alt="accesorios">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#Portada" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Portada" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>




    <div class="container2">

      <H2 class="Subtitulo2">Moda <span>y</span> Estilo <span>en cada accesorio</span></H2>

      <div id="Estilos" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner rounded-5 shadow">
          <div class="carousel-item active d-flex justify-content-center ">
            <img src="./assets/DefineEstilo/CollarPerlas.jpg" class="imagenes2" alt="accesorios">
          </div>
          <div class="carousel-item d-flex justify-content-center">
            <img src="./assets/DefineEstilo/CollarPerlas2.jpg" class="imagenes2" alt="accesorios">
          </div>
          <div class="carousel-item d-flex justify-content-center">
            <img src="./assets/DefineEstilo/CollarPiedraMagica.jpg" class="imagenes2" alt="accesorios">
          </div>
          <div class="carousel-item d-flex justify-content-center">
            <img src="./assets/DefineEstilo/GargantillaMariposa.jpg" class="imagenes2" alt="accesorios">
          </div>
          <div class="carousel-item d-flex justify-content-center">
            <img src="./assets/DefineEstilo/pulsera.jpg" class="imagenes2" alt="accesorios">
          </div>
        </div>

        <button class="carousel-control-prev " type="button" data-bs-target="#Estilos" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Estilos" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="CompraSegura">
      <p class="motivoCompra">¿Por qué comprar en Hopen?</p>
      <div class="iconosText">
        <div class="contenedorIcons">
          <img class="iconos" src="./assets/Marca/Iconos/CompraSegura.png" alt="Compra Segura">
          <p>Compras 100% seguras</p>
        </div>

        <div class="contenedorIcons">
          <img class="iconos" src="./assets/Marca/Iconos/EnvioNacional.png" alt="Envíos Nacionales">
          <p>Envíos a Nivel Nacional</p>
        </div>

        <div class="contenedorIcons">
          <img class="iconos" src="./assets/Marca/Iconos/CompraRapida.png" alt="Compra Inmediata">
          <p>¡Selecciona, cotiza, compra y espera la llegada de<br> tus productos!</p>
        </div>
      </div>
    </div>

    <div class="HopenLovers">
      <p>Nuestros HOPENLOVER'S</p>
      <div class="galeria">
        <div class="row">
          <div class="col-lg-3 col-md-10 mb-4 mb-lg-0 p-3">
            <img src="./assets/Clientes/1.jpg " class="w-100 shadow rounded-4 mb-4" alt="Boat on Calm Water" />

            <img src="./assets/Clientes/13.jpg" class="w-100 shadow rounded-4 mb-4" alt="Wintry Mountain Landscape" />
          </div>

          <div class="col-lg-2 mb-4 mb-lg-0 p-3">
            <img src="./assets/Clientes/3.jpg" class="w-100 shadow rounded-4 mb-4" alt="Mountains in the Clouds" />

            <img src="./assets/Clientes/4.jpg" class="w-100 shadow rounded-4 mb-4" alt="Boat on Calm Water" />

            <img src="./assets/Clientes/11.jpg" class="w-100 shadow rounded-4 mb-4" alt="Waves at Sea" />
          </div>

          <div class="col-lg-3 mb-4 mb-lg-0 p-3">
            <img src="./assets/Clientes/5.jpg" class="w-100 shadow rounded-4 mb-4" alt="Waves at Sea" />

            <img src="./assets/Clientes/6.jpg" class="w-100 shadow rounded-4 mb-4" alt="Yosemite National Park" />
          </div>

          <div class="col-lg-2 col-md-10 mb-4 mb-lg-0 p-3">
            <img src="./assets/Clientes/7.jpg" class="w-100 shadow rounded-4 mb-4" alt="Boat on Calm Water" />

            <img src="./assets/Clientes/12.jpg" class="w-100 shadow rounded-4 mb-4" alt="Yosemite National Park" />
            <img src="./assets/Clientes/8.jpg" class="w-100 shadow rounded-4 mb-4" alt="Wintry Mountain Landscape" />
          </div>

          <div class="col-lg-2 mb-4 mb-lg-0 p-3">
            <img src="./assets/Clientes/9.jpg" class="w-100 shadow rounded-4 mb-4" alt="Mountains in the Clouds" />
            <img src="./assets/Clientes/2.jpg" class="w-100 shadow rounded-4 mb-4" alt="Wintry Mountain Landscape" />
            <img src="./assets/Clientes/10.jpg" class="w-100 shadow rounded-4 mb-4" alt="Boat on Calm Water" />
          </div>

        </div>
      </div>
    </div>

    <div id="piePagina">​
      <piePagina></piePagina>
    </div>
  </section>

</body>
