<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="sidebar d-flex animate__animated  animate__fadeInLeft animate__slow	1s">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3">
                <a href="" class="list-group-item list-group-item-action py-4 px-3 ripple" aria-current="true">
                    <img class="iconos" src="./assets/Marca/Categorias/pulsera.png" alt="pulseras"><span>Pulseras</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-4 px-3 ripple">
                    <img class="iconos" src="./assets/Marca/Categorias/anillo.png" alt="pulseras">
                    <span>Anillos</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-4 px-3 ripple"><img class="iconos"
                        src="./assets/Marca/Categorias/gargantilla.png" alt="pulseras"><span>Gargantillas</span></a>
                <a href="#" class="list-group-item list-group-item-action py-4 px-3 ripple"><img class="iconos"
                        src="./assets/Marca/Categorias/collar.png" alt="pulseras"><span>Collares</span></a>
                <a href="#" class="list-group-item list-group-item-action py-4 px-3 ripple">
                    <img class="iconos" src="./assets/Marca/Categorias/arete.png" alt="pulseras"><span>Aretes</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-4 px-3 ripple"><img class="iconos"
                        src="./assets/Marca/Categorias/cartera.png" alt="pulseras"><span>Carteras</span></a>
                <a href="#" class="list-group-item list-group-item-action py-4 px-3 ripple"><img class="iconos"
                        src="./assets/Marca/Categorias/prenda.png" alt="pulseras"><span>Prendas</span></a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
