<div class="Contenedor">
  <div class="Lista">
    <a class="Subtitulos p-3" routerLink="/infoPagina/sobreHopen" routerLinkActive="active-link">HOPEN</a>
    <a class="Subtitulos p-3" routerLink="/infoPagina/misionHopen" routerLinkActive="active-link">MISIÓN</a>
    <a class="Subtitulos p-3" routerLink="/infoPagina/visionHopen" routerLinkActive="active-link">VISIÓN</a>
    <a class="Subtitulos p-3" routerLink="/infoPagina/creadoraHopen" routerLinkActive="active-link">¿QUIÉN
      ESTÁ
      DETRÁS
      DE
      HOPEN?</a>
  </div>
</div>
<piePagina id=piePagina></piePagina>
