<infoPagina></infoPagina>
<div class="contenedorPrincipal">
  <h4 class="titulo animate__animated animate__fadeInUp animate__slow	1s">VISIÓN</h4>

  <div class="contenedor animate__animated animate__fadeInUp animate__slow	1s">

    <p class="ParrafoInfo">Convertirse en la marca/empresa por excelencia de Accesorios y Visutería a <span
        class="resaltado">Nivel
        Nacional e
        Internacional</span>,reconocida por su estilo, rusticidad y calidad en cada uno de sus productos.
    </p>
  </div>
</div>
