<infoPagina></infoPagina>
<div class="contenedorPrincipal">
  <h4 class="titulo animate__animated animate__fadeInUp animate__slow	1s">HOPEN</h4>

  <div class="contenedor animate__animated animate__fadeInUp animate__slow	1s">

    <p class="ParrafoInfo">"Hopen Accesorios" es sinónimo de personalización, elegancia, calidad y rusticidad.
      <br><br>
      Hopen Accesorios se
      caracteriza por brindar accesorios 100% hechos a mano con un profundo sentimiento de amor, ofreciendo la
      posibilidad de <span class="resaltado">crear/personalizar</span> accesorios al gusto del cliente, logrando
      así, la seguridad y
      confianza en cada uno de ellos. <br><br>
      Y por supuesto, en "Hopen Accesorios", no todo es personalización, sino que también ofrece sus propios
      productos en base a las tendencia del mercado actual, pero siempre manteniendo la esencia que tanto le
      caracteriza.
    </p>
  </div>
</div>
