<infoPagina></infoPagina>
<div class="contenedorPrincipal">

  <img class="FotoHelen animate__animated animate__fadeInUp animate__slow	1s" src="./assets/Imagenes/FotoHelen.png"
    alt="Helen Montero">

  <div class="contenedor animate__animated animate__fadeInUp animate__slow 1s">

    <p class="ParrafoInfo">¡Hola soy Helen Montero!, fundadora de "Hopen Accesorios", y al igual que cada uno de
      ustedes soy una amantede la moda y estilo. <br><br>
      Vengo de una familia dedicada a la creación de accesorios y muebles artesanales, y
      desde muy pequeña surgió en mi la idea de emprender en el rubro de Accesorios y Visutería, no solo por el hecho de
      que era algo que disfrutaba hacer, sino porque se convirtió en una disciplina inculcada por mi abuelita y <span
        class="resaltado">reforzada/perfeccionada</span>a lo largo de los años por mi persona. <br><br>
      En cada uno de mis productos, no solo busco definir mi propio estilo, sino también el de todos mis
      clientes.
    </p>
  </div>
</div>
